
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #D6E6F2;
    color: #000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /*cursor: url('images/mov.ani'), auto;*/
}

header {
    background-color: #B9D7EA; /* Kolor headera */
    color: white;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    flex: 1;
}

nav {
    display: flex;
    margin-top: 10px;
    align-items: center;
    flex-direction: column;
    background-color: #B9D7EA;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color: #555; /* Kolor tła po najechaniu myszką */
}
#map-container {
    width: 300px; /* Adjust width as needed */
    height: 80%; /* Adjust height as needed */
}
.section a{
    padding: 15px;
    text-decoration: none;
    color: #FEFAE0;
    display: block;
    font-size: 18px;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
.section a:hover{
    color: #283618;
    transition: color 0.3s ease;
}
.content {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.content div {
    flex: 1;
    margin-right: 30px;
}
.content div:last-child {
    margin-right: 0;
}
#doctors-slider {
    background-color: #B9D7EA;
    height: 400px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#slides-container {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
}

#doctors-slider img {
    width: 300px;
    height: 300px;
    margin-bottom: 20px; /* Odległość między zdjęciami, dostosuj według potrzeb */
}
#review{
    background-color: #B9D7EA;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    text-align: justify;
    display: flex;
    flex-direction: column;
}
footer {
    background-color: #B9D7EA;
    color: white;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
footer p{
    margin: 0;
}

form {
    display: inline-block;
}

footer button {
    padding: 10px 20px;
    width: 300px;
    border: none;
    height: 50px;
    background-color: #FF6666;
    color: white;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-size: 23px;
    border-radius: 23px;
}

footer button:hover {
    background-color: #FF3333;
}
.arrow {
    cursor: pointer;

}

