<!DOCTYPE html>
{% load static %}

<html>
<head>
    <title>Lista Lekarzy</title>
    <link rel="stylesheet" type="text/css" href="{% static 'lekarze.css' %}">
</head>
<body>
    <h1>Lista Lekarzy</h1>
    <ul>
        {% for doctor in doctors %}
            <li class="doctor-item">
                <div class="doctor-photo-box">
                    <img src="{{ doctor.profile_image.url }}" alt="Zdjęcie {{ doctor.first_name }} {{ doctor.last_name }}" class="doctor-photo">
                    <div class="doctor-specialization">{{ doctor.specialization }}</div>
                </div>
                <a href="{% url 'nazwa_widoku_kalendarza' doctor.id %}" class="doctor-link">
                    {{ doctor.prof_title }} {{ doctor.first_name }} {{ doctor.last_name }}
                </a>
            </li>
        {% empty %}
            <li>Brak dostępnych lekarzy.</li>
        {% endfor %}
    </ul>
</body>
</html>
