{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'rejestracja.css' %}">
</head>
<body>
  <h2>Rejestracja lekarza</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {# Pola dziedziczone z modelu Worker #}
    {{ form.username }}
    {{ form.email }}
    {{ form.password }}
    {{ form.employment_status }}
    {{ form.first_name }}
    {{ form.last_name }}
    {{ form.phone_number }}
    {{ form.city }}
    {{ form.street }}
    {{ form.house_number }}
    {{ form.zip_code }}
    {{ form.profile_image }}

    {# Pola specyficzne dla modelu Doctor #}
    {{ form.specialization }}
    {{ form.room_number }}
    {{ form.prof_title }}

    <button type="submit">Zarejestruj</button>
  </form>
</body>
</html>